body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.brand {
    border-style: solid;
    font-size: xx-large;
    margin-right: 50px;
}

.container2 {
    margin-left: 50px;
    color: #8a8a8a;
    margin-bottom: 50px;
}

.profiles {
    height: 350px;
    width: auto;
    margin-left: 50px;
}

.seoyeon {
    height: 350px;
    width: auto;
    margin-left: 50px;
}

.seoyeon:hover {
    border-bottom: 6px solid gray;
    height: 400px;
    width: auto;
    transition: 0.5s;
}

.hyerin {
    height: 350px;
    width: auto;
    margin-left: 50px;
}

.hyerin:hover {
    border-bottom: 6px solid gray;
    height: 400px;
    width: auto;
    transition: 0.5s;
}

.jiwoo {
    height: 350px;
    width: auto;
    margin-left: 50px;
}

.jiwoo:hover {
    border-bottom: 6px solid gray;
    height: 400px;
    width: auto;
    transition: 0.5s;
}

.chaeyeon {
    height: 350px;
    width: auto;
    margin-left: 50px;
}

.chaeyeon:hover {
    border-bottom: 6px solid gray;
    height: 400px;
    width: auto;
    transition: 0.5s;
}